<h3>Active sessions</h3>
<%= for session <- @active_sessions do %>
    <a class="btn btn-primary btn-xl" href="<%= Routes.session_path(@conn, :show, session.id) %>" role="button">
        <%= session.id %>
    </a>
<% end %>

<h3>Available tags</h3>
<%= for tag <- @tags do %>
    <%= tag.tag %>
<% end %>
